.before-after-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 3rem auto;
  overflow: hidden;
}

.react-compare-slider {
  width: 100%;
  height: auto;
  --react-compare-slider-handle-color: var(--color-main, #fff);
  --react-compare-slider-handle-width: 30px;
  --react-compare-slider-handle-opacity: 1;
  --react-compare-slider-line-color: var(--color-main, #fff);
  --react-compare-slider-line-thickness: 2px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: pan-y;
}

/* Captions overlay */
.caption-overlay {
  /* position: absolute; */
  top: 10%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-secondary, #fff);
  text-shadow: 0 0 5px rgba(0,0,0,0.7);
  pointer-events: none;
  z-index: 10;
}
  